USE [NYCCollisions]
GO
/****** Object:  Table [dbo].[dim_arrest_borough]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_arrest_borough](
	[borough_sk] [int] NOT NULL,
	[borough] [varchar](255) NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_JobID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[borough_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_BODILY_INJURY]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_BODILY_INJURY](
	[BODILY_INJURY_SK] [int] NOT NULL,
	[BODILY_INJURY] [varchar](80) NULL,
	[DI_PID] [varchar](10) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BODILY_INJURY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_Complaint]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Complaint](
	[ComplaintSK] [int] NOT NULL,
	[COMPLAINT] [varchar](255) NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_JobID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ComplaintSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_CONTRIBUTING_FACTOR]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_CONTRIBUTING_FACTOR](
	[CONTRIBUTION_FACTOR_SK] [int] NOT NULL,
	[CONTRIBUTING_FACTOR] [varchar](255) NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_PID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTRIBUTION_FACTOR_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_DRIVER_LICENSE_JURISDICTION]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_DRIVER_LICENSE_JURISDICTION](
	[DRIVER_LICENSE_JURISDICTION_SK] [int] NOT NULL,
	[DRIVER_LICENSE_JURISDICTION] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DRIVER_LICENSE_JURISDICTION_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_DRIVER_LICENSE_STATUS]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_DRIVER_LICENSE_STATUS](
	[DRIVER_LICENSE_STATUS_SK] [int] NOT NULL,
	[DRIVER_LICENSE_STATUS] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DRIVER_LICENSE_STATUS_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_ERR_PERSON_AGE]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ERR_PERSON_AGE](
	[ERR_PERSON_AGE_SK] [int] NOT NULL,
	[UNIQUE_ID] [bigint] NOT NULL,
	[COLLISION_ID] [bigint] NULL,
	[CRASH_DATE] [date] NULL,
	[PERSON_ID] [varchar](80) NULL,
	[PERSON_AGE] [int] NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_PID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ERR_PERSON_AGE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_PED_ACTION]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_PED_ACTION](
	[PED_ACTION_SK] [int] NOT NULL,
	[PED_ACTION] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PED_ACTION_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_PED_LOCATION]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_PED_LOCATION](
	[PED_LOCATION_SK] [int] NOT NULL,
	[PED_LOCATION] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PED_LOCATION_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_PED_ROLE]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_PED_ROLE](
	[PED_ROLE_SK] [int] NOT NULL,
	[PED_ROLE] [varchar](255) NULL,
	[DI_PID] [varchar](10) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PED_ROLE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_PERSON_EJECTION]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_PERSON_EJECTION](
	[EJECTION_SK] [int] NOT NULL,
	[EJECTION] [varchar](80) NULL,
	[DI_PID] [varchar](10) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EJECTION_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_PERSON_EMOTIONAL_STATUS]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_PERSON_EMOTIONAL_STATUS](
	[Emotional_status_SK] [int] NOT NULL,
	[EMOTIONAL_STATUS] [varchar](80) NULL,
	[DI_PID] [varchar](10) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Emotional_status_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_PERSON_INJURY]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_PERSON_INJURY](
	[PERSON_INJURY_SK] [int] NOT NULL,
	[PERSON_INJURY] [varchar](80) NULL,
	[DI_PID] [varchar](10) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSON_INJURY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_PERSON_SEX]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_PERSON_SEX](
	[PERSON_SEX_SK] [int] NOT NULL,
	[PERSON_SEX] [varchar](10) NULL,
	[DI_PID] [varchar](10) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSON_SEX_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_PersonType]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_PersonType](
	[PERSON_TYPE_SK] [int] NOT NULL,
	[PERSON_TYPE] [varchar](80) NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_JobID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSON_TYPE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_POINT_OF_IMPACT]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_POINT_OF_IMPACT](
	[POINT_OF_IMPACT_SK] [int] NOT NULL,
	[POINT_OF_IMPACT] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[POINT_OF_IMPACT_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_POSITION_IN_VEHICLE]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_POSITION_IN_VEHICLE](
	[POSITION_IN_VEHICLE_SK] [int] NOT NULL,
	[POSITION_IN_VEHICLE] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[POSITION_IN_VEHICLE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_PRE_CRASH]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_PRE_CRASH](
	[PRE_CRASH_SK] [int] NOT NULL,
	[PRE_CRASH] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRE_CRASH_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_PUBLIC_PROPERTY_DAMAGE]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_PUBLIC_PROPERTY_DAMAGE](
	[PUBLIC_PROPERTY_DAMAGE_SK] [int] NOT NULL,
	[PUBLIC_PROPERTY_DAMAGE] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PUBLIC_PROPERTY_DAMAGE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_SAFETY_EQUIPMENT]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_SAFETY_EQUIPMENT](
	[SAFETY_EQUIPMENT_SK] [int] NOT NULL,
	[SAFETY_EQUIPMENT] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SAFETY_EQUIPMENT_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_STATE_REGISTRATION]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_STATE_REGISTRATION](
	[STATE_REGISTRATION_SK] [int] NOT NULL,
	[STATE_REGISTRATION] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[STATE_REGISTRATION_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_TRAVEL_DIRECTION]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_TRAVEL_DIRECTION](
	[TRAVEL_DIRECTION_SK] [int] NOT NULL,
	[TRAVEL_DIRECTION] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TRAVEL_DIRECTION_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_VEHICLE_DAMAGE]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_VEHICLE_DAMAGE](
	[VEHICLE_DAMAGE_SK] [int] NOT NULL,
	[VEHICLE_DAMAGE] [varchar](255) NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_PID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[VEHICLE_DAMAGE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_VEHICLE_MAKE]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_VEHICLE_MAKE](
	[VEHICLE_MAKE_SK] [int] NOT NULL,
	[VEHICLE_MAKE] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[VEHICLE_MAKE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_VEHICLE_MODEL]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_VEHICLE_MODEL](
	[VEHICLE_MODEL_SK] [int] NOT NULL,
	[VEHICLE_MODEL] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[VEHICLE_MODEL_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_VEHICLE_TYPE]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_VEHICLE_TYPE](
	[VEHICLE_TYPE_SK] [int] NOT NULL,
	[VEHICLE_TYPE] [varchar](255) NULL,
	[DI_CREATE_DATE] [datetime] NULL,
	[DI_PID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[VEHICLE_TYPE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_VEHICLE_TYPE_CODE]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_VEHICLE_TYPE_CODE](
	[VEHICLE_TYPE_SK] [int] NOT NULL,
	[VEHICLE_TYPE] [varchar](255) NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_PID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[VEHICLE_TYPE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fct_collision_crashes]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fct_collision_crashes](
	[Collision_SK] [int] NOT NULL,
	[COLLISION_ID] [bigint] NOT NULL,
	[collision_dt] [datetime] NULL,
	[collision_dt_sk] [int] NULL,
	[collision_day] [int] NULL,
	[collision_time] [varchar](8) NULL,
	[collision_hour] [int] NULL,
	[collision_dayoftheweek] [int] NULL,
	[borough_sk] [int] NULL,
	[zip_code] [varchar](40) NULL,
	[off_street_name] [varchar](40) NULL,
	[on_street_name] [varchar](40) NULL,
	[cross_street_name] [varchar](40) NULL,
	[latitude] [decimal](24, 6) NULL,
	[longitude] [decimal](24, 6) NULL,
	[location] [varchar](256) NULL,
	[number_of_cyclist_injured] [int] NULL,
	[number_of_cyclist_killed] [int] NULL,
	[number_of_motorist_injured] [int] NULL,
	[number_of_motorist_killed] [int] NULL,
	[number_of_pedestrians_injured] [int] NULL,
	[number_of_pedestrians_killed] [int] NULL,
	[number_of_persons_injured] [int] NULL,
	[number_of_persons_killed] [int] NULL,
	[number_of_vehicles_involved] [int] NULL,
	[number_of_contributing_factors] [int] NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_JobID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Collision_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fct_collision_persons]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fct_collision_persons](
	[UNIQUE_ID] [bigint] NOT NULL,
	[COLLISION_ID] [bigint] NULL,
	[PERSON_ID] [varchar](80) NULL,
	[PERSON_TYPE_SK] [int] NOT NULL,
	[PERSON_INJURY_SK] [int] NOT NULL,
	[VEHICLE_ID] [varchar](80) NULL,
	[PERSON_AGE] [int] NULL,
	[EJECTION_SK] [int] NOT NULL,
	[Emotional_status_SK] [int] NOT NULL,
	[BODILY_INJURY_SK] [int] NOT NULL,
	[POSITION_IN_VEHICLE_SK] [int] NOT NULL,
	[SAFETY_EQUIPMENT_SK] [int] NOT NULL,
	[PED_ACTION_SK] [int] NOT NULL,
	[PED_LOCATION_SK] [int] NOT NULL,
	[COMPLAINT_SK] [int] NOT NULL,
	[PED_ROLE_SK] [int] NOT NULL,
	[PERSON_SEX_SK] [int] NOT NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_JobID] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIQUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fct_Collisions_Vehicles]    Script Date: 8/6/2023 10:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fct_Collisions_Vehicles](
	[UNIQUE_ID] [int] NOT NULL,
	[COLLISION_ID] [int] NULL,
	[VEHICLE_ID] [varchar](80) NULL,
	[STATE_REGISTRATION_SK] [int] NOT NULL,
	[VEHICLE_TYPE_SK] [int] NOT NULL,
	[VEHICLE_MAKE_SK] [int] NOT NULL,
	[VEHICLE_MODEL_SK] [int] NOT NULL,
	[VEHICLE_YEAR] [varchar](80) NULL,
	[TRAVEL_DIRECTION_SK] [int] NOT NULL,
	[VEHICLE_OCCUPANTS] [int] NULL,
	[PERSON_SEX_SK] [int] NOT NULL,
	[DRIVER_LICENSE_STATUS_SK] [int] NOT NULL,
	[DRIVER_LICENSE_JURISDICTION_SK] [int] NOT NULL,
	[PRE_CRASH_SK] [int] NOT NULL,
	[POINT_OF_IMPACT_SK] [int] NOT NULL,
	[PUBLIC_PROPERTY_DAMAGE_SK] [int] NOT NULL,
	[PUBLIC_PROPERTY_DAMAGE_TYPE] [varchar](1024) NULL,
	[DI_CreateDate] [datetime] NULL,
	[DI_JobID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIQUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
